@model HMSCore.Areas.Admin.Models.IpdAdmission


@{
    ViewData["Title"] = "IPD Admission";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <section class="content-header">
        <h1>IPD Admission</h1>
        <ol class="breadcrumb">
            <li><a href="Dashboard"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">IPD Admission</li>
        </ol>
    </section>
    <section class="content">
    <div class="card">
      <div class="container-fluid" style="background-color: white; padding: 20px;">

     
            <form asp-action="AddIPDAdmission" method="post">
                <div class="row g-3">
                    <input type="hidden" asp-for="PatientID" />
                    <!-- Patient ID -->
                    <div class="col-md-3">
                        <label class="form-label">Patient ID</label>
                        <input asp-for="PatientID" class="form-control" readonly />
                        <span asp-validation-for="PatientID" class="text-danger"></span>
                    </div>

                    <!-- Name -->
                    <div class="col-md-3">
                        <label class="form-label">Patient Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- Age -->
                    <div class="col-md-3">
                        <label class="form-label">Age</label>
                        <input asp-for="Age" class="form-control" placeholder="Age" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <!-- Gender -->
                    <div class="col-md-3">
                        <label class="form-label">Gender</label>
                        <select asp-for="Gender" class="form-control">
                            <option value="">-- Select --</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <!-- Contact Number -->
                    <div class="col-md-3">
                        <label class="form-label">Contact Number</label>
                        <input asp-for="Number"
                               class="form-control"
                               placeholder="Enter 10 digit contact number"
                               maxlength="10"
                               oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>

                    <!-- Doctor -->
                    <div class="col-md-3">
                        <label class="form-label">Doctor</label>
                        <select asp-for="DoctorId"
                                asp-items="ViewBag.DoctorList"
                                class="form-control">
                          @*   <option value="">-- Select Doctor --</option> *@
                        </select>
                        <span asp-validation-for="DoctorId" class="text-danger"></span>

                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Bed Category</label>
                        <select asp-for="BedCategoryId"
                                asp-items="ViewBag.BedCategoryList"
                                class="form-control"
                                id="ddlBedCategory">
                        </select>
                        <span asp-validation-for="BedCategoryId" class="text-danger"></span>
                    </div>

                    <!-- Bed -->
                    <div class="col-md-3">
                        <label class="form-label">Bed</label>
                        <select asp-for="BedId"
                                class="form-control"
                                id="ddlBed">
                            <option value="">-- Select Bed --</option>
                        </select>
                        <span asp-validation-for="BedId" class="text-danger"></span>
                    </div>

                    <div class="row mb-3">

                        <!-- Admission Date -->
                        <div class="col-md-3">
                            <label class="form-label">Admission Date</label>
                            <input asp-for="AdmissionDateTime"
                                   type="datetime-local"
                                   class="form-control"
                                   value="@Model.AdmissionDateTime?.ToString("yyyy-MM-ddTHH:mm")" />
                        </div>

                        <!-- Initial Diagnosis -->
                        <div class="col-md-3">
                            <label class="form-label">Initial Diagnosis</label>
                            <textarea asp-for="InitialDiagnosis"
                                      class="form-control"
                                      rows="1"></textarea>
                        </div>

                        <!-- Advance Amount -->
                        <div class="col-md-3">
                            <label class="form-label">Advance Amount</label>
                            <input asp-for="AdvanceAmount" 
                                   class="form-control" type="Number" pattern="\d{1,5}"
                                   placeholder="Enter advance amount" />
                            <span asp-validation-for="AdvanceAmount" class="text-danger"></span>
                        </div>

                        <!-- Status -->
                        <div class="col-md-3">
                            <label class="form-label">Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="">-- Select --</option>
                                <option>Admitted</option>
                                <option>Discharged</option>
                                <option>Cancelled</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                    </div>

                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-center" style="margin-top: 27px;">
                            <button type="submit" class="btn btn-success btn-flat px-4 me-2">
                                Save
                            </button>
                            <button type="reset" class="btn btn-primary btn-flat px-4">
                                Reset
                            </button>
                        </div>
                    </div>

                </div>
            </form>

            </div>
            </div>
            </section>


@section Scripts {
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            
                <script>
                    $(document).ready(function () {

                        $('#ddlBedCategory').on('change', function () {

                            var categoryId = $(this).val();

                            $('#ddlBed').empty();
                            $('#ddlBed').append('<option value="">-- Select Bed --</option>');

                            if (categoryId !== "") {
                                $.ajax({
                                    url: '/Admin/IPD/GetBeds',   
                                    type: 'GET',
                                    data: { categoryId: categoryId },
                                    success: function (data) {

                                        if (data && data.length > 0) {
                                            $.each(data, function (i, bed) {
                                                $('#ddlBed').append(
                                                    $('<option></option>')
                                                        .val(bed.value)
                                                        .text(bed.text)
                                                );
                                            });
                                        }
                                    },
                                    error: function () {
                                        alert('Bed load nahi hua');
                                    }
                                });
                            }
                        });

                    });
                </script>

}